<aside class="w-64 bg-black border-r min-h-screen flex flex-col">
  <div class="px-6 py-6 flex items-center gap-3 border-b">
     <div
    class="w-9 h-9 rounded-lg overflow-hidden flex items-center justify-center bg-white"
  >
    <img
      src="assets/logo.png"
      alt="JOTYA Logo"
      class="w-full h-full object-cover"
    />
  </div>
  </div>

  <nav class="flex-1 px-4 py-6 space-y-1 text-sm">
    <p class="text-xs text-gray-400 mb-2">MAIN MENU</p>

    <a
      href="/dashboard/admin"
      class="flex items-center gap-3 px-3 py-2 rounded-lg font-medium bg-yellow-100 text-yellow-700"
    >
      <span class="w-4 h-4 bg-yellow-200 rounded-sm inline-block"></span>
      <span>Vue d'ensemble</span>
    </a>

    <a
      href="/dashboard/admin/users"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 hover:bg-gray-100"
    >
      <span class="w-4 h-4 bg-gray-200 rounded-sm inline-block"></span>
      <span>Utilisateurs</span>
    </a>

    <a
      href="/dashboard/admin/validation"
      class="flex items-center justify-between gap-3 px-3 py-2 rounded-lg text-gray-600 hover:bg-gray-100"
    >
      <div class="flex items-center gap-3">
        <span class="w-4 h-4 bg-gray-200 rounded-sm inline-block"></span>
        <span>Validation Produits</span>
      </div>
      <span class="text-xs bg-red-100 text-red-500 px-2 rounded-full">42</span>
    </a>

    <a
      href="/dashboard/admin/commandes"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 hover:bg-gray-100"
    >
      <span class="w-4 h-4 bg-gray-200 rounded-sm inline-block"></span>
      <span>Commandes Globales</span>
    </a>

    <a
      href="/dashboard/admin/rapports"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 hover:bg-gray-100"
    >
      <span class="w-4 h-4 bg-gray-200 rounded-sm inline-block"></span>
      <span>Rapports</span>
    </a>

    <a
      href="/dashboard/admin/parametres"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 hover:bg-gray-100"
    >
      <span class="w-4 h-4 bg-gray-200 rounded-sm inline-block"></span>
      <span>Paramètres</span>
    </a>
    <a
      href="/dashboard/admin/centr-aide"
      class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 hover:bg-gray-100"
    >
      <span class="w-4 h-4 bg-gray-200 rounded-sm inline-block"></span>
      <span>Centre d'aide </span>
    </a>
  </nav>

  <div class="px-6 py-4 border-t flex items-center gap-3">
    <div class="w-9 h-9 bg-gray-200 rounded-full"></div>
    <div>
      <p class="text-sm font-medium">LA TECH</p>
      <span class="text-xs text-gray-400">Super Admin</span>
    </div>
  </div>
</aside>
